.App {
  text-align: center;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 10% 90%;
}

.App-body {
  background-color: #282c34;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-left {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  z-index: 1; /* Stay on top */
  bottom: 0; /* Stay at the top */
  left: 0;
  color: white;
  background-color: #424242; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.App-left a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.App-link {
  color: #61dafb;
}

.ButtonCSS {
  background-color: grey;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  outline: 0;
  border: 0; 
  text-transform: uppercase;
  margin: 10px 0px;
  cursor: pointer;
  box-shadow: 0px 2px 2px lightgray;
  transition: ease background-color 250ms;
  &:disabled {
    cursor: default;
    opacity: 0.7;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
